@import "tailwindcss";

@theme {
    --font-serif: "Montagu Slab", serif;
}

@layer base {
    :root {
        @apply bg-mist-800 text-amber-100 font-serif;
    }
}

input::-webkit-inner-spin-button {
    display: none;
}

input[type="search"]::-webkit-search-cancel-button {
    display: none;
}
