@import "tailwindcss";

@theme {
    --font-serif: "BioRhyme", serif;

    --animate-blink: blink 0.1s steps(1) forwards;

    @keyframes blink {
        from {
            opacity: 0.5;
        }
        to {
            opacity: 1;
        }
    }
}

@layer base {
    :root {
        @apply bg-mist-800 text-amber-100 font-serif;
    }
}
