@import "tailwindcss";

@theme {
    --font-serif: "BioRhyme", serif;

    --animate-blink: blink 0.1s steps(1) forwards;

    @keyframes blink {
        from {
            opacity: 0.5;
        }
        to {
            opacity: 1;
        }
    }
}

@layer base {
    :root {
        @apply bg-mist-800 text-amber-50 font-serif;
    }

    input::-webkit-search-cancel-button {
        display: none;
    }

    input::-webkit-inner-spin-button {
        display: none;
    }
}

@utility tear-off-* {
    background-clip: padding-box;
    background-color: --value(--color-*);
    background-color: --alpha(--value(--color-*) / --modifier(integer) %);
    border-width: 1px;
    border-style: dashed;
    border-color: --value(--color-*);
    border-color: --alpha(--value(--color-*) / --modifier(integer) %);
}
